request_captures
.venv
.ropeproject
/claude-code-proxy
build/
node_modules
*.wasm
captured_logs/
.gocache
./codex-proxy
/codex-proxy
npm/codex-proxy
npm/codex-proxy.exe
codex-proxy.service
com.codex-proxy.plist
dist
